@font-face {
    font-family: 'eUkraine Light';
    src: url("https://spiiilka.github.io/website/css/fonts/e-Ukraine-Light.otf") format("opentype");
    font-weight: normal;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: 'eUkraine Regular';
    src: url("https://spiiilka.github.io/website/css/fonts/e-Ukraine-Regular.otf") format("opentype");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'eUkraine Medium';
    src: url("https://spiiilka.github.io/website/css/fonts/e-Ukraine-Medium.otf") format("opentype");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "eUkraine Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important; }

h1,
h1.notion-heading {
    font-family: "eUkraine Light", sans-serif !important;
}

h2,
h2.notion-heading {
    font-family: "eUkraine Light", sans-serif !important;
}

h3,
h3.notion-heading {
    font-family: "eUkraine Regular", sans-serif !important;
}

p,
p.notion-text__content {
    font-family: "eUkraine Light", sans-serif !important;
}

p .notion-semantic-string a,
p.notion-text__content .notion-semantic-string a {
    font-family: "eUkraine Light", sans-serif !important;
}

.notion-column .notion-collection .notion-collection-table__wrapper .notion-collection-table .notion-collection-table__cell.title a {
    font-family: "eUkraine Light", sans-serif !important;
}

.super-content .notion-column-list .notion-collection .notion-collection-table__wrapper .notion-collection-table .notion-collection-table__cell.title a {
    font-family: "eUkraine Light", sans-serif !important;
}

.super-content .notion-column-list p {
    margin-bottom: 2rem !important;
}

.super-content .notion-collection-gallery.medium .notion-collection-card .notion-property__title .notion-semantic-string {
    font-family: "eUkraine Light", sans-serif !important;
}

div.notion-collection-card__content > div > div > span {
    font-family: "eUkraine Light", sans-serif !important;
}

.notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr a {
    font-family: "eUkraine Light", sans-serif !important;
}

.notion-callout .notion-callout__content .notion-collection .notion-collection-table__body .notion-collection-table__cell.text .color-green {
    font-family: "eUkraine Light", sans-serif !important;
}
