@font-face {
  font-family: 'eUkraine Light';
  src: url("https://github.com/spiiilka/website/blob/main/e-Ukraine-Light.otf") format("otf");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: 'eUkraine Regular';
  src: url("https://spiiilka.github.io/website/e-Ukraine-Regular.otf") format("otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: 'eUkraine Medium';
  src: url("https://spiiilka.github.io/website/e-Ukraine-Medium.otf") format("otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

h1,
h1.notion-heading {
  font-family: "eUkraine Light" !important; }

h2,
h2.notion-heading {
  font-family: "eUkraine Light", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }

p,
p.notion-text__content {
  font-family: "eUkraine Light", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }
  p .notion-semantic-string a,
  p.notion-text__content .notion-semantic-string a {
    font-family: "eUkraine Medium", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }

.notion-column .notion-collection .notion-collection-table__wrapper .notion-collection-table .notion-collection-table__cell.title a {
  font-family: "eUkraine Medium", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }

.super-content .notion-column-list .notion-collection .notion-collection-table__wrapper .notion-collection-table .notion-collection-table__cell.title a {
  font-family: "eUkraine Medium", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }

.super-content .notion-column-list p {
  margin-bottom: 2rem !important; }

.super-content .notion-collection-gallery.medium .notion-collection-card .notion-property__title .notion-semantic-string {
  font-family: "eUkraine Regular", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }

div.notion-collection-card__content > div > div > span {
  font-family: "eUkraine Light", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }

.notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr a {
  font-family: "eUkraine Medium", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }

.notion-callout .notion-callout__content .notion-collection .notion-collection-table__body .notion-collection-table__cell.text .color-green {
  font-family: "eUkraine Medium", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important; }
